<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    body {
    background-image: url(https://i.pinimg.com/originals/b9/5c/c2/b95cc2ea8a385ae4b1031bfbb0868b27.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
    </style>
    <meta charset="UTF-8">
    <title>Doggoapp</title>
</head>
<body bgcolor="lightgrey" style="margin-left:3%; margin-right:3%; margin-top:2%;">

<h1 style="text-align:center;">{{ dog[1] }}</h1>
<p style="text-align:justify;"> {{ dog[2] }}
</p>


<h2>Charakter</h2>
<p style="text-align:justify;"> {{ dog[3] }}
</p>

<h2>Umaszczenie</h2>
ok. {{ dog[4] }}<br>

<h2>Waga</h2>
Dla psa: {{ dog[5] }} kg<br>
Dla suczki: {{ dog[6] }} kg<br>

<h2>Wzrost</h2>
Dla psa: {{ dog[7] }} cm<br>
Dla suczki: {{ dog[8] }} cm<br>

<h2>Zdrowie</h2>
<p style="text-align:justify;">
    {{ dog[9] }}
</p>


Chcesz się dowiedzieć czegoś więcej o innej rasie? Wróć do strony głównej:</p>
<a href="/page_start">powrót do strony głównej</a>


</body>
</html>
