<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <style>
    body {
    background-image: url(https://i.pinimg.com/originals/b9/5c/c2/b95cc2ea8a385ae4b1031bfbb0868b27.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
    </style>
    <meta charset="UTF-8">
    <title>Doggoapp</title>
</head>

<body bgcolor="lightgray" style="margin-left:5%; margin-top: 5%;">
<h1>DOGGOAPP</h1>
<h2>Podręcznik psiarza :)</h2>

<h3>Rasy:</h3>
{% for dog in dogs_list %}
<a href="/breed/{{ dog[0] }}">{{dog[0] }}. {{ dog[1] }} </a><br>
{% endfor %}

<h3>Dodaj swoją rasę:</h3>
<a href="add_new_breed">Dodaj</a>

<br>
<br>
<br>
<footer>Strona używa technologii cookies.</footer>

</body>
</html>
