<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <style>
    body {
    background-image: url(https://i.pinimg.com/originals/b9/5c/c2/b95cc2ea8a385ae4b1031bfbb0868b27.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
    </style>
    <meta charset="UTF-8">
    <title>Doggoapp</title>
</head>
<body bgcolor="lightgrey" style="margin-left:3%; margin-right:3%; margin-top:2%;">

<h1>Dodaj nową rasę:</h1>

<a href="read_new_breed">Link do nowej rasy</a>

<p>
    Formularz:
</p>

<form action="write_new_breed">
    Imie: <input type="text" name="name_from_form">
    <br>
    Opis: <input type="text" name="description_from_form">
    <br>
    Charakter: <input type="text" name="description_from_form">
    <br>
    Umaszczenie: <input type="text" name="color_from_form">
    <br>
    Waga psa (+/- 3kg): <input type="text" name="male_weight_from_form">
    <br>
    Waga suczki (+/- 3kg): <input type="text" name="female_weight_from_form">
    <br>
    Wzrost psa (+/- 3cm): <input type="text" name="male_height_from_form">
    <br>
    Wzrost suczki (+/- 3cm): <input type="text" name="female_height_from_form">
    <br>
    Zdrowie: <input type="text" name="health_from_form">
    <br>
    <input type="submit">
</form>

Chcesz się dowiedzieć czegoś więcej o innej rasie? Wróć do strony głównej:</p>
<a href="/page_start">Powrót do strony głównej</a>

</body>
</html>
